<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    <ul>
        <li>List popular languages that Data Scientists use.</li>
        <li>List commonly used libraries used by Data Scientists.</li>
        <li>Comment on Data Science tools.</li>\,
    </ul>

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas 
3. Matplotlib
4. Seaborn 
5. Scikit-learn

| Data Science Tools | 
| --- |
| RStudio |
| Apache Spark |
| TensorFlow |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [2]:
minutes = 200

In [3]:
hours = minutes/60
print(hours)

3.3333333333333335

<h2>Author</h2>
Sahil Sasane